/* HomePage.css */
.homepage {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f3f4f6;
    color: #333;
}

.header {
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5em;
    color: #2a4d69;
}

.header p {
    font-size: 1.2em;
    color: #666;
}

.dashboard-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.chart-container {
    width: 30%;
    min-width: 300px;
    height: 450px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-container:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.chart-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #2a4d69;
    border-bottom: 2px solid #2a4d69;
    padding-bottom: 10px;
}

.chart-container .chartjs-render-monitor {
    max-width: 100%;
    margin: auto;
}

.details-button {
    background-color: #2a4d69;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
}

.details-button:hover {
    background-color: #1e3449;
}
